HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
!**/gitlab-ci/home/config/
!**/gitlab-ci/home/data/

### Project-specific ###
app-template/
documents/uploads/
infrastructure/gitlab-ci/home/logs/
infrastructure/gitlab-ci/home/data/
infrastructure/gitlab-ci/home/config/
infrastructure/gitlab-ci/nexus/
infrastructure/documents/filestorage/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

